<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Capstone ToDos</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown1"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Maintenances
        </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" style="cursor:pointer;" (click)="GotoCategories()">Category</a>
            <a class="dropdown-item" style="cursor:pointer;" (click)="GotoPriorities()">Priority</a>
            <a class="dropdown-item" style="cursor:pointer; " (click)="GotoUsers()" >User</a>
            <a class="dropdown-item" style="cursor:pointer;" (click)="GotoToDos()" >ToDo</a>
          
      </div>
      </li>

      <li class="nav-item" *ngIf="loggedIn" style="cursor:pointer;">
        <a class="nav-link" aria-current="page"  (click)="logout()">Logout</a>
      </li>

    </ul>

    <span class="user-name-style">{{userName}}</span>

    <form class="d-flex">
      
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search ToDos ..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
</nav>
