
<div class="container">
    <h1>Users</h1><br><br>
    <div class="float-end">
      <button (click)="addUser()" type="button" class="btn btn-primary">ADD</button>
    </div>
    <br><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>PHONE</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users | paginate: { itemsPerPage: pageSize, currentPage: currentPage } ; let i=index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.firstName }} {{item.lastName}}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phoneNumber }}</td>
          <td>
            <!-- Call to action button -->
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <button class="btn btn-success btn-sm rounded-0" (click)="goToEdit(item.id)" type="button"
                  data-toggle="tooltip" data-placement="top" title="Edit">
                  <fa-icon [icon]="faEdit">
                  </fa-icon>
                </button>
              </li>
             
              <li class="list-inline-item">
                <div *ngIf="item.isTodo">
                  <span class="d-inline-block mr-2" tabindex="0" placement="top" ngbTooltip="Can't delete. One or More Todo is assign to user">
                    <button class="btn btn-danger btn-sm rounded-0" type="button" disabled><fa-icon
                      [icon]="faTrash"></fa-icon></button>
                  </span>
                </div>

                <div *ngIf="!item.isTodo">
                <button [disabled]="item.isTodo"
                 class="btn btn-danger btn-sm rounded-0  mr-2" type="button" placement="top" ngbTooltip="Delete"
                   data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="goToDelete(item.id)"><fa-icon
                    [icon]="faTrash"></fa-icon>
                </button>
              </div>

               
               
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  
     <!-- Modal -->
     <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h1 class="modal-title fs-5" id="deleteModalLabel">Do you want to Delete?</h1>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
  
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button (click)="deleteUser()" type="button" data-bs-dismiss="modal"
             class="btn btn-danger">Delete</button>
         </div>
       </div>
     </div>
   </div>
  
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>