<br>
<br>
<br>
<h2>Welcome to the ToDo Capstone Project</h2>
<p class="text-xl-start"> <b>The ToDo capstone project is a culminating assignment, on which students usually work on during their Full Stack Development. It requires different intellectual activities such team work, communication, and developing screens . This project helps students learn how to analyze user stories and convert them into screens efficiently. It has a wide variety of forms.</b></p>

<!-- <button (click)="GotoCategories()"> Categories </button><br><br>

<button (click)="GotoPriorities()"> Priorities </button><br><br>

<button (click)="GotoUsers()"> Users </button><br><br>

<button (click)="GotoToDos()"> To Do </button> -->


