<br>
<br>
<br>
<h2>Welcome to the ToDo Capstone Project</h2>
<p class="text-xl-start">The ToDo capstone project is a culminating assignment, on which students usually work on during their Full Stack Development. It requires different intellectual activities such team work, communication, and developing screens . This project helps students learn how to analyze user stories and convert them into screens efficiently. It has a wide variety of forms.</p>

<div class="container">
    <div class="row ">
        <div class="col-md-3"><button class="btn btn-lg btn-primary p-2" (click)="GotoCategories()"> Categories </button></div>
        <div class="col-md-3"><button class="btn btn-lg btn-primary p-2"(click)="GotoPriorities()"> Priorities </button>        </div>
        <div class="col-md-3"><button class="btn btn-lg btn-primary p-2"(click)="GotoUsers()"> Users </button>        </div>
        <div class="col-md-3"><button class="btn btn-lg btn-primary p-2"(click)="GotoToDos()"> To Do </button>
        </div>
    </div>
</div>






