<div class="container">

    <h2>{{todo_add}}</h2><br>
    <div>
      <form (ngSubmit)="addTodo(form)" #form="ngForm">
        <div class="form-group col-md-5">
          <label for="name">Name*</label>
          <input
            type="text"
            class="form-control"
            required
            maxlength="25"
            name="name"
            id="name"
            [(ngModel)]="model.name"
            #name="ngModel"
          />
          <div
          *ngIf="submitted && name.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="submitted && name.errors?.['required']">Name is required.</div>
        </div>    
        </div><br>
        <div class="form-group col-md-5">
            <label for="description">Description</label>
            <textarea class="form-control"
             id="description"
            name="description"
            [(ngModel)]="model.description"
            #description="ngModel"
            maxlength="500"
            >
            </textarea>
            <div
            *ngIf="description.invalid && (description.dirty || description.touched)"
            class="alert alert-danger">
            <div *ngIf="description.errors?.['required']">Description is required.</div>
          </div>
        </div>
        <br>
        <div class="form-group col-md-5">
            <label for="category">Category</label>       
          <select [(ngModel)]="model.categoryId" name="categoryId" id="categoryId"  #categoryId="ngModel" class="form-control" required >
              <option *ngFor="let cat of categories"  [ngValue]="cat.categoryId">{{cat.name}}</option>
          </select>
          
            <!-- <div
            *ngIf="userName.invalid && (userName.dirty || userName.touched)"
            class="alert alert-danger">
            <div *ngIf="userName.errors?.['required']">User is required.</div>
          </div> -->
        </div>
        <br>
        <div class="form-group col-md-5">
          <label for="priority">Priority</label>       
        <select [(ngModel)]="model.priorityId" class="form-control" name="priorityId" id="priorityId"  #priorityId="ngModel" required>
            <option *ngFor="let prio of priorities"  [ngValue]="prio.priorityId">{{prio.name}}</option>
        </select>
          <!-- <div
          *ngIf="userName.invalid && (userName.dirty || userName.touched)"
          class="alert alert-danger">
          <div *ngIf="userName.errors?.['required']">User is required.</div>
        </div> -->
      </div>
      <br>
      <div class="form-group col-md-5">
        <label for="user">User</label>       
      <select [(ngModel)]="model.userId" class="form-control" name="id" id="id"  #id="ngModel"  required>
          <option *ngFor="let user of users"  [ngValue]="user.id">{{user.firstName}} {{user.lastName}}</option>
      </select>
        <!-- <div
        *ngIf="userName.invalid && (userName.dirty || userName.touched)"
        class="alert alert-danger">
        <div *ngIf="userName.errors?.['required']">User is required.</div>
      </div> -->
    </div>
    <br>
        
       
        <br>
        <div class="row">
          <div class="form-group col-md-4">
            <button class="add-button btn btn-success">{{todo_button}}</button>
          </div>
          <div class="form-group col-md-4">
            <button class="cancel-button btn btn-danger" (click)="back()">CANCEL</button>
          </div>
      </div>
      </form>
    </div>
    
    </div>
    
    
    