
<div class="container">

    <h2>{{user_add}}</h2><br>
    <div>
      <form (ngSubmit)="addUser(form)" #form="ngForm">
        <div class="form-group col-md-5">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            required
            maxlength="25"
            name="firstName"
            id="firstName"
            [(ngModel)]="model.firstName"
            #firstName="ngModel"
          />
          <div
          *ngIf="submitted && firstName.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="submitted && firstName.errors?.['required']">First Name is required.</div>
        </div>    
        </div><br>
        <div class="form-group col-md-5">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              required
              maxlength="25"
              name="lastName"
              id="lastName"
              [(ngModel)]="model.lastName"
              #lastName="ngModel"
            />
            <div
            *ngIf="submitted && lastName.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && lastName.errors?.['required']">Last Name is required.</div>
          </div>    
          </div><br>

          <div class="form-group col-md-5">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              required
              maxlength="25"
              name="email"
              id="email"
              [(ngModel)]="model.email"
              #email="ngModel"
            />
            <div
            *ngIf="submitted && email.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && email.errors?.['required']">Email is required.</div>
          </div>    
          </div><br>

          <div class="form-group col-md-5">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="text"
              class="form-control"
              required
              maxlength="25"
              name="phoneNumber"
              id="phoneNumber"
              [(ngModel)]="model.phoneNumber"
              #phoneNumber="ngModel"
            />
            <div
            *ngIf="submitted && phoneNumber.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && phoneNumber.errors?.['required']">Phone Number is required.</div>
          </div>    
          </div><br>
    
        <div class="row">
          <div class="form-group col-md-4">
            <button class="add-button btn btn-success">{{user_button}}</button>
          </div>
          <div class="form-group col-md-4">
            <button class="cancel-button btn btn-danger" (click)="back()">CANCEL</button>
          </div>
      </div>
      </form>
    </div>
    
    </div>
    
    
    
